{% extends "layouts/error.twig" %}

{% block title %}{{ status_code }} {{ status_text }} ({{ exception_class }}){% endblock %}

{% block content %}
    <div class="exception-summary">
        <div class="exception-metadata">
            <div class="container">
                <h2 class="exception-hierarchy">
                    <a href="#trace-box-1"><span>{{ exception_class }}</span></a>
                </h2>
                <h2 class="exception-http">
                    HTTP {{ status_code }} <small>{{ status_text }}</small>
                </h2>
            </div>
        </div>

        <div class="container">
            <div class="exception-message-wrapper">
                <h1 class="break-long-words exception-message">{{ exception.message }}</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="sf-tabs">
            <div class="tab">
                <h3 class="tab-title">Stack Trace</h3>
                <div class="tab-content">
                    <table class="trace">
                        <thead>
                            <tr>
                                <th class="sf-toggle" data-toggle-selector="#trace-html-1" data-toggle-initial="display">
                                    <h3 class="trace-class">
                                        <span class="icon icon-close">{{ exception_class }}</span>
                                    </h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="trace-html-1">
                            <tr>
                                <td>
                                    <span class="block trace-file-path">in {{ file }} line {{ line }}</span>
                                </td>
                            </tr>
                            {% for trace_entry in trace %}
                                <tr>
                                    <td>
                                        <span class="block trace-file-path">
                                            in {{ trace_entry.file }} line {{ trace_entry.line }}
                                        </span>
                                        <span class="trace-class">{{ trace_entry.class }}</span>
                                        <span class="trace-type">{{ trace_entry.type }}</span>
                                        <span class="trace-method">{{ trace_entry.function }}</span>
                                        <span class="trace-arguments">({{ trace_entry.args|join(', ') }})</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% if previous_exceptions|length > 0 %}
                <div class="tab">
                    <h3 class="tab-title">Previous Exceptions</h3>
                    <div class="tab-content">
                        {% for prev_exception in previous_exceptions %}
                            <h3 class="break-long-words">
                                <span class="exception-hierarchy">{{ prev_exception.class }}</span>
                                <small>{{ prev_exception.message }}</small>
                            </h3>
                            <p class="break-long-words">in {{ prev_exception.file }} line {{ prev_exception.line }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}